<div class="ui fluid container">
    <div class="ui two column padded grid">
        <div class="column">
            <div class="ui very padded container">
                <div id="parts" class="ui styled accordion">
                    <div class="title" data-part-name="templates/{{templateName}}">
                        <i class="dropdown icon"></i> Template: {{templateName}}
                    </div>
                    <div class="content">
                        <form class="edit-file">
                            <input type="hidden" name="name" value="{{templateName}}">
                            <input type="hidden" name="type" value="template">
                            <button class="ui labeled icon button"
                                    data-action="edit part">
                                <i class="edit icon"></i>
                                Edit
                            </button>
                            <button class="ui {{#unless inCurrentPackage}}disabled{{/unless}}  labeled icon button"
                                    data-action="revert part">
                                <i class="undo icon"></i>
                                Revert
                            </button>
                        </form>
                        <pre><code class="handlebars">
                            {{~template.contents~}}
                        </code></pre>
                    </div>
                    {{#each partials}}
                        <div class="title" data-part-name="partials/{{@key}}">
                            <i class="dropdown icon"></i> Partial: {{@key}}

                        </div>
                        <div class="content">
                            <form class="edit-file">
                                <input type="hidden" name="name" value="{{@key}}">
                                <input type="hidden" name="type" value="partial">
                                <button class="ui labeled icon button"
                                        data-action="edit part">
                                    <i class="edit icon"></i>
                                    Edit
                                </button>
                                <button class="ui {{#unless inCurrentPackage}}disabled{{/unless}} labeled icon button"
                                        data-action="revert part">
                                    <i class="undo icon"></i>
                                    Revert
                                </button>
                            </form>
                            <pre><code class="handlebars">
                                {{~contents~}}
                            </code></pre>
                        </div>
                    {{/each}}
                </div>

            </div>
        </div>
        <div class="ui container column">
            <div class="ui raised segment" id="markdown-body">
                {{{markdown}}}
            </div>
        </div>
    </div>

</div>
